<a href="https://colab.research.google.com/github/venkatram0502/python_record/blob/main/Emplyee%20details%20py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
class Employee:
    def __init__(self, name, employee_id, department, salary):
        self.name = name
        self.employee_id = employee_id
        self.department = department
        self.salary = salary

    def update_salary(self, new_salary):
        self.salary = new_salary

def update_salary_by_department(employees, department, new_salary):
    for employee in employees:
        if employee.department == department:
            employee.update_salary(new_salary)

# Example usage
employees = [
    Employee("Ram", 101, "HR", 51000),
    Employee("Karthik", 102, "Finance", 65000),
    Employee("Venkat", 103, "HR", 65000),
    Employee("Nani", 104, "IT", 72000),
]
print("Before salary update:")
for emp in employees:
    print(emp.name, emp.department, emp.salary)

update_salary_by_department(employees, "HR", 60000)

print("\nAfter salary update for HR department:")
for emp in employees:
    print(emp.name, emp.department, emp.salary)

Before salary update:
Ram HR 51000
Karthik Finance 65000
Venkat HR 65000
Nani IT 72000

After salary update for HR department:
Ram HR 60000
Karthik Finance 65000
Venkat HR 60000
Nani IT 72000